name: Manual NPM Publish

on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: "Release type - major, minor or patch"
        required: true
        type: choice
        default: "patch"
        options:
          - patch
          - minor
          - major
      distTag:
        description: 'NPM tag (e.g. use "next" to release a test version)'
        required: true
        default: 'latest'

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'main'
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: NPM Setup
        run: |
          npm set registry "https://registry.npmjs.org/"
          npm set //registry.npmjs.org/:_authToken $NPM_TOKEN
          npm whoami
      - name: Git Setup
        run: |
          git config --global user.email "christian+webdriverio-release@saucelabs.com"
          git config --global user.name "WebdriverIO Release Bot"
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn build
      - name: Release
        run: npm run release:ci -- ${{github.event.inputs.releaseType}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  docs:
    runs-on: ubuntu-latest
    needs: [release]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'main'
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Git Setup
        run: |
          git config --global user.email "christian+webdriverio-release@saucelabs.com"
          git config --global user.name "WebdriverIO Release Bot"
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Build Docs
        run: yarn docs
      - name: Update Branch
        run: |
          git checkout -b docs
          rm -rf ./.gitignore /node_modules ./.github ./.husky ./coverage ./dist ./example ./src ./test ./.eslintignore ./.eslintrc.json ./jest.config.js ./package.json ./README.md ./tsconfig.json ./typedoc.json ./yarn.lock
          git add docs
          git commit -m "Update docs"
          git push origin docs --force

